<!-- 网页尾部 -->
<!-- <div class="footer"> 用此div，写load函数加载本页面尾部
例如
$(function(){
	$("#header").load("/doPageModule/header");
	$("#footer").load("/doPageModule/footer");
})-->
<div class="middle">
	<span class="line1">
	    <a href="">关于博游旅游网</a>
	    <b>|</b>
	    <a href="">业务合作</a>
	    <b>|</b>
	    <a href="">加入我们</a>
	    <b>|</b>
	    <a href="">"严重违规失信"专项整治举报</a>
	    <b>|</b>
	    <a href="">安全中心</a>
	    <b>|</b>
	    <a href="">About Us</a>
	</span>
	<span class="line2">
	    Copyright @2020 boyou.com
	    <a href="http://www.beian.gov.cn/portal/recordQuery" target="_blank">京公网安备xxxxxxxxxxxxxx</a>
	    <a href="http://www.beian.miit.gov.cn/publish/query/indexFirst.action" target="_blank">京ICP备xxxxxxxx号</a>
	    <a href="">京ICP证xxxxxx号</a>
	    <a href="">营业执照信息</a>
	    <a href="">保险经纪资质</a>
	    <a href="">(京)-非经营性-xxxx-xxxx</a>
	    <a href="">博游旅游网客服电话12345</a>
	</span>
	<span claa="line3">
	    违法和不良信息举报电话：010-69194277违法和不良信息举报邮箱：tousu@qunar.com
	</span>
</div>
<!-- </div> -->
<link rel="stylesheet" type="text/css" href="/dist/css/footer.css">