<!-- 网页头部 -->
<!-- <div class="header"> -->

	<div class="line1">
	   <!-- 最上层,登录,注册,消息,订单,积分商城,联系客服 -->
	   <li><a>联系客服</a></li>
	   <li><a>积分商城</a></li>
	   <li><a>订单</a></li>
	   <li><a>消息</a></li>
	   <li>请<a class="in" href="doPageUi/index">登录</a>或<a class="in" href="doPageUi/index">免费注册</a></li>
	</div>
	<div class="line2">
		<!-- logo -->
		<div class="logo_box">
		    <img alt="logo" src="/dist/img/iconFiles/logo.png">
		</div>
		<!-- 导航栏 -->
	     <div class="naviGationBar">
	         <a href="">首页</a>
	         <a href="">机票</a>
	         <a href="">酒店</a>
	         <a href="">团购</a>
	         <a href="">度假</a>
	         <a href="">邮轮</a>
	         <a href="">门票</a>
	         <a href="">火车票</a>
	         <a href="">游记</a>
	         <a href="">当地人</a>
	     </div>
	</div>
	
<!-- </div> -->
<link rel="stylesheet" type="text/css" href="/dist/css/header.css">