<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link type="text/css" rel="stylesheet"
	href="/dist/css/homePageCss/demowei.css">
<link type="text/css" rel="stylesheet"
	href="/dist/css/homePageCss/personal_Portrait.css">
<link rel="icon" href="/dist/img/imgHomePages/logo.ico"
	type="image/x-icon">
<script src="/bower_components/jquery-1.8.3.js"></script>
<script src="/dist/js/homePages/hf.js"></script>
</head>
<body>
	<!-- 头部分(header) -->
	<!-- <div class="header" id="header"></div> -->
	<!-- ============================== -->
	<div class="qn-header"
		style="background: url(/dist/img/imgHomePages/head_bg1.jpg) 0 0 no-repeat">
		<div class="fla">
			<div>
				<img src="/dist/img/imgHomePages/tx.jpg" />
			</div>
			<span style="padding-right: 30px;">黄Sir</span> <span> <a
				href="">关注</a> <a href="">私信</a>
			</span>
		</div>
		<div class="etc_and_pay">
			<dl>
				<dd>0</dd>
				<dd>关注</dd>
				<dd>120</dd>
				<dd>粉丝数</dd>
			</dl>
		</div>
		<div class="nav">
			<a href="/boyou">首页</a> <a href="doPageUi/travelSquare">游记</a> <a href="">行程</a> <a href="">榜单</a>
			<a href="">点评</a> <a href="">相册</a>
		</div>
	</div>
	<!-- ============================== -->
	<div class="page">
		<!--  style="background: url(imgs/head_bg2.jpg) 0 0 no-repeat;background-size:cover; "
			设置背景图片并将其填充至全部div
	 -->
		<div>
			<div class="logo">
				<img alt="" src="/dist/img/imgHomePages/logo.png">
			</div>
			<!-- 图片小脚脚 -->
			<div class="stroke">
				<dl>
					<dd>07/10</dd>
					<dd>2019</dd>
				</dl>
				<img alt="" src="/dist/img/imgHomePages/wd.png">
			</div>
			<div class="head">
				<dd class="title">您发表了游记</dd>
				<!-- 表头 -->
				<dd class="banner">冬日别样亲子游，探秘神奇的长隆野生动物世界与萌萌动物过暖冬</dd>
				<!-- 表标题 -->
				<dd class="img">
					<img src="/dist/img/imgHomePages/zp3.jpg" width="75%">
				</dd>
				<!-- 照片 -->
				<dd class="time">2019-12-07 | 共四天</dd>
				<!-- 发布时间 -->
			</div>
		</div>
		<br />
		<div>
			<!-- 第2部分 -->
			<div class="stroke">
				<dl>
					<dd>08/11</dd>
					<dd>2019</dd>
				</dl>
				<div class="stroke_img">
					<img alt="" src="/dist/img/imgHomePages/wd.png">
				</div>
			</div>
			<div class="head">
				<dd class="title">您发表了游记</dd>
				<!-- 表头 -->
				<dd class="banner">冬日别样亲子游，探秘神奇的长隆野生动物世界与萌萌动物过暖冬</dd>
				<!-- 表标题 -->
				<dd class="img">
					<img src="/dist/img/imgHomePages/zp1.jpg" width="75%">
				</dd>
				<!-- 照片 -->
				<dd class="time">2019-12-07 | 共四天</dd>
				<!-- 发布时间 -->
			</div>
		</div>
		<br />
		<div>
			<!-- 第3个部分 -->
			<div class="stroke">
				<dl>
					<dd>10/15</dd>
					<dd>2019</dd>
				</dl>
				<img alt="" src="/dist/img/imgHomePages/wd.png">
			</div>
			<div class="head">
				<dd class="title">您发表了游记</dd>
				<!-- 表头 -->
				<dd class="banner">冬日别样亲子游，探秘神奇的长隆野生动物世界与萌萌动物过暖冬</dd>
				<!-- 表标题 -->
				<dd class="img">
					<img src="/dist/img/imgHomePages/zp2.jpg" width="75%">
				</dd>
				<!-- 照片 -->
				<dd class="time">2019-12-07 | 共四天</dd>
				<!-- 发布时间 -->
			</div>
		</div>
		<br />
		<div>
			<!-- 第4个部分 -->
			<div class="stroke">
				<dl>
					<dd>011/24</dd>
					<dd>2019</dd>
				</dl>
				<img alt="" src="/dist/img/imgHomePages/wd.png">
			</div>
			<div class="head">
				<dd class="title">您发表了游记</dd>
				<!-- 表头 -->
				<dd class="banner">冬日别样亲子游，探秘神奇的长隆野生动物世界与萌萌动物过暖冬</dd>
				<!-- 表标题 -->
				<dd class="img">
					<img src="/dist/img/imgHomePages/zp3.jpg" width="75%">
				</dd>
				<!-- 照片 -->
				<dd class="time">2019-12-07 | 共四天</dd>
				<!-- 发布时间 -->
			</div>
		</div>
		<br />
		<div>
			<!-- 第5个部分 -->
			<div class="stroke">
				<dl>
					<dd>01/13</dd>
					<dd>2020</dd>
				</dl>
				<img alt="" src="/dist/img/imgHomePages/wd.png">
			</div>
			<div class="head">
				<dd class="title">您发表了游记</dd>
				<!-- 表头 -->
				<dd class="banner">冬日别样亲子游，探秘神奇的长隆野生动物世界与萌萌动物过暖冬</dd>
				<!-- 表标题 -->
				<dd class="img">
					<img src="/dist/img/imgHomePages/zp1.jpg" width="75%">
				</dd>
				<!-- 照片 -->
				<dd class="time">2019-12-07出发 | 共四天</dd>
				<!-- 发布时间 -->
			</div>
		</div>
		<br />
		<div class="Alltags">
			<a href="">全部游记</a> <a href="">全部行程</a> <a href="">全部榜单</a>
		</div>
		<!-- 尾部 -->
	</div>
	<!-- 	<!-- ========================================================= -->
	<div class="footer" id="footer">
	</div>

</body>
</html>