<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cy.boyou.sys.dao.NoteDao">
      <select id="findNoteById" resultType="com.cy.boyou.sys.entity.Note">
		select *
		from notes_user
		where notesId=#{id}
	</select>
  
	<update id="updateNote" parameterType="com.cy.boyou.sys.entity.Note">
		update notes_user
			set 
			userId=#{userId},
			noteText=#{noteText},
			noteImage=#{noteImage},
			noteTime=now(),
			noteAddr=#{noteAddr},
			createTime=now(),
			modifiedTime=now(),
			createdUser=#{createdUser}
		where notesId=#{notesId}
	</update>
    
    <insert id="insertNote" parameterType="com.cy.boyou.sys.entity.Note"
         useGeneratedKeys="true"
         keyProperty="notesId" >
    	insert into notes_user
    	(notesId,userId,noteText,noteImage,
    	noteTime,noteAddr,createTime,modifiedTime,createdUser) 
    	values
    	(#{notesId},#{userId},#{noteText},#{noteImage},
    	 now(),#{noteAddr},now(),now(),
    	 #{createdUser})
    </insert>
    
  </mapper>