<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  <mapper namespace="com.cy.boyou.sys.dao.NoteDao">
      <select id="findNoteById" resultType="com.cy.boyou.sys.entity.Note">
		select *
		from notes_user
		where notesId=#{id}
	</select>
	
	<delete id="deleteObjects">
            delete from notes_user
            <choose>
                <when test="ids!=null and ids.length>0">
                   <where>
                       <foreach collection="ids" separator="or" item="id">
                            notesId=#{id}
                       </foreach>
                   </where>
                </when>
                <otherwise>
                      where 1==2
                </otherwise>
            </choose>
      
      </delete>
  

      
  </mapper>