<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.boyou.sys.dao.TravelNotesDao">
	<insert id="insertTravelNotes" parameterType="com.cy.boyou.sys.entity.Travel">
		insert into user_travels
		(userId,createdTime,modifiedTime,peopleCount,loveCount,averagePay,travelName,background_img_url)
		values
		(#{userId},#{createdTime},#{modifiedTime},#{peopleCount},#{loveCount},#{averagePay},#{travelName},#{backgroundImgUrl})
	</insert>
</mapper>