<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.boyou.sys.dao.TravelNotesDao">
	<insert id="insertTravelNotes" parameterType="com.cy.boyou.sys.entity.Travel">
		insert into user_travels
		(userId,createdTime,peopleCount,averagePay,travelName,background_img_url,imgUrl)
		values
		(#{userId},now(),#{peopleCount},#{averagePay},#{travelName},#{backgroundImgUrl},${imgUrl})
	</insert>
	
	<select id="doFindTravelNotes" resultType="com.cy.boyou.sys.vo.TravelNotes">
		select * from user_travels
		<if test="userId != null">
			where userId=#{userId}
		</if>
	</select>
</mapper>