<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>博游首页</title>
<link rel="stylesheet" href="index1.css" />
<link rel="stylesheet" href="css/shutter.css">
<link rel="icon" href="image/logo.ico" type="image/x-icon">

<script src="js/jquery-1.8.3.min.js"></script>
<script src="js/velocity.js"></script>
<script src="js/shutter.js"></script>

</head>
<body>
	<!-- 这里是左侧边栏 固定不动 -->
	<div class="left-body">
		<div class="yhm-up"></div>
		<a href=""> <img src="image/touxiang.jpg" width="100%" ;/>
			用户名
		</a> <br /> <br /> <br /> 
		<span
			style="text-align: center; display: block;"> <br /> <a href="">
				<p>消</p>
				<p>息</p>
		</a> <br /> <br /> <a href="">
				<p>相</p>
				<p>关</p> <br />
		</a> <br /> <a href="">
				<p>帐</p>
				<p>户</p> <br />
		</a>
		</span>
	</div>

	<!-- 主体 可以滚动条滚动的-->
	<div class="panel-body">
		<img src="image/logo.png" class="logo" />
		<div class="up">
			<!-- 最上层,登录,注册,消息,订单,积分商城,联系客服 -->
			<li><a href="">联系客服</a></li>
			<li><a href="">成为会员</a></li>
			<li><a href="">订单</a></li>
			<li><a href="">消息</a></li>
			<li>请<a class="in" href="">登录</a>或<a class="in" href="">免费注册</a></li>
		</div>
		<div class="lanmu1">
			<!-- LOGO 搜索框 天气 客服 -->
			<!-- LOGO -->
			&emsp;&emsp;&emsp; &emsp;&emsp;<input type="test"
				style="width: 20%; height: 40px; font-size: 16px;" /> <input
				class="ss" type="button" ) />&emsp;&emsp; <img src=" image/tq.png"
				class="tq" />&emsp;&emsp; <input type="button" class="kf" />
		</div>
		<div class="fenge">
			<!-- 样式   分割   导航栏 -->
			<div class="daohanglan">
				<a href="">首页</a> <a href="">门票</a> <a href="">游记</a> <a href="">我的主页</a>
			</div>
		</div>

		<!-- 轮播图 -->
		<div class="shutter">
			<div class="shutter-img">
				<a href="#" data-shutter-title="世界那么大"> <img src="img/img01.jpg"
					alt="#"></a> <a href="#" data-shutter-title="我想出去看看"> <img
					src="img/img02.jpg" alt="#"></a> <a href="#"
					data-shutter-title="山穷水复疑无路"> <img src="img/img03.jpg" alt="#"></a>
				<a href="#" data-shutter-title="柳暗花明又一村"> <img
					src="img/img04.jpg" alt="#"></a> <a href="#"
					data-shutter-title="boyou领你前行"> <img src="img/img05.jpg"
					alt="#"></a> <a href="#" data-shutter-title="国内美景"> <img
					src="img/img06.jpg" alt="#"></a> <a href="#"
					data-shutter-title="国外美景"> <img src="img/img07.jpg" alt="#"></a>
				<a href="#" data-shutter-title="山水美在无以言喻"> <img
					src="img/img08.jpg" alt="#"></a> <a href="#"
					data-shutter-title="有你想不到的奇观"> <img src="img/img09.jpg" alt="#"></a>
				<a href="#" data-shutter-title="做个“博游”的人吧！"> <img
					src="img/img10.jpg" alt="#"></a>
			</div>
			<ul class="shutter-btn">
				<li class="prev"></li>
				<li class="next"></li>
			</ul>
			<div class="shutter-desc">
				<p>这是一场奇妙梦幻之旅</p>
			</div>
		</div>

		<div class="rm">
			<!-- 热门度假 主体 左边-->
			<form class="bd">
				<!-- 表单 -->
				<br /> <br />
				<table>
					<tr>
						<a class="you">周边游</a>
						<td><a href="">张家界</a>&emsp;<a href="">凤凰古城</a></td>
					</tr>
					<tr>
						<td><a href="">明月山顺天维景国际温泉度假村</a></td>
					</tr>
					<tr>
						<td><a href="">郴州</a>&emsp;<a href="">毛泽东同志故居</a></td>
					</tr>
				</table>
				<br />
				<table>
					<tr>
						<a class="you">国内游</a>
					</tr>
					<tr>
						<td><a href="">三亚</a>&emsp;<a href="">丽江</a>&emsp;<a href="">哈尔滨</a>&emsp;<a
							href="">西双版纳</a></td>
					</tr>
					<tr>
						<td><a href="">拉萨</a>&emsp;<a href="">厦门</a>&emsp;<a href="">昆明</a>&emsp;<a
							href="">北海</a></td>
					</tr>
					<tr>
						<td><a href="">成都</a></td>
					</tr>
				</table>
				<br />
				<table>
					<tr>
						<a class="you">出境游</a>
					</tr>
					<tr>
						<td><a href="">泰国</a>&emsp;<a href="">芽庄</a>&emsp;<a href="">巴厘岛</a>&emsp;<a
							href="">日本</a></td>
					</tr>
					<tr>
						<td><a href="">菲律宾</a>&emsp;<a href="">普吉岛</a>&emsp;<a
							href="">缅甸</a>&emsp;<a href="">新加坡</a></td>
					</tr>
					<tr>
						<td><a href="">沙巴</a></td>
					</tr>
				</table>
				<br />
				<table>
					<tr>
						<a class="you">签证</a>
					</tr>
					<tr>
						<td><a href="">泰国</a>&emsp;<a href="">韩国</a>&emsp;<a href="">美国</a>&emsp;<a
							href="">澳大利亚</a></td>
					</tr>
					<tr>
						<td><a href="">南非</a>&emsp;<a href="">台湾</a>&emsp;<a href="">新加坡</a>&emsp;<a
							href="">马来西亚</a></td>
					</tr>
					<tr>
						<td><a href="">日本</a></td>
					</tr>
				</table>
			</form>
		</div>



		<div class="tj">
			<!-- 推荐 主体 -->
			<div style="margin: 0 auto 20px 0; background: #00bcd4b3">
				<a href="" style="color: red; font-size: 28px">热门推荐</a>
			</div>

			<div class="k1">
				<!-- 块一 -->
				<a class="" target="_blank" href="" rel="nofollow">
					<div>
						<div class="t1">
							<!-- 图一 -->
							<img alt="含全程大巴+3晚住宿" src="image/p1.jpg">
						</div>
						<div class="">
							<p class="wangfang">
								<span>长沙-张家界</span>
							</p>
							<span>4天跟团游</span>
						</div>
					</div>
					<div class="">
						<p class="zhuxing">
							<span>含全程大巴+3晚住宿</span>
						</p>
						<p class="">
							<span>市场价:¥</span> <span class="">2000</span>
						</p>
						<div class="discount">
							7.3折 <span> <em>¥</em>
							</span> <em>1458</em>
						</div>
					</div>
				</a>
			</div>

			<div class="k2">
				<a class=" " target="_blank" href="" rel="nofollow">
					<div>
						<div class="t2">
							<img alt="含往返飞机票+6晚住宿" src="image/p2.jpg">
						</div>
						<div class="">
							<p class="wangfang">
								<span>长沙-丽江</span>
							</p>
							<span>7天跟团游</span>
						</div>
					</div>
					<div class="">
						<p class="zhuxing">
							<span>含往返飞机票+6晚住宿</span>
						</p>
						<p class="">
							<span>市场价:¥</span> <span class="">1450</span>
						</p>
						<div class="">
							<div class="discount">暂无折扣</div>
						</div>
					</div>
				</a>
			</div>

			<div class="k3">
				<a class="" target="_blank" href="" rel="nofollow">
					<div>
						<div class="t3">
							<img alt="往返飞机票(含税)+4晚住宿" src="image/p3.jpg"> <span
								class="remai">热卖</span>
						</div>
						<div class="">
							<div class="">
								<p class="wangfang">
									<span>长沙-三亚</span>
								</p>
								<p class="">
									<span>5天自由行</span>
								</p>
							</div>
						</div>
					</div>
					<div class="">
						<p class="zhuxing">
							<span>含往返飞机票(含税)+4晚住宿</span>
						</p>
						<p class="">
							<br /> <span>市场价:¥</span> <span class="">8888</span>
						</p>
						<div class="">
							<div class="discount">3.2折</div>
							<div class="">
								<span> <em>¥</em>
								</span> <span> <em>2885</em>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="k4">
				<div>
					<div class="t4">
						<img alt="往返飞机票(含税)+5晚住宿" src="image/p4.jpg">
					</div>
					<div class="">
						<p class="wangfang">
							<span>长沙-泰国</span>
						</p>
						<p class="">
							<span>6天跟团游</span>
						</p>
					</div>
				</div>
				<div class="">
					<p class="zhuxing">
						<span>往返飞机票(含税)+5晚住宿</span>
					</p>
					<p class="">
						<span>市场价:¥</span> <span class="">9828</span>
					</p>
					<div class="discount">
						6.9折<em>¥6828</em>
					</div>
				</div>
			</div>

			<div class="k5">
				<a class="" target="_blank" href="" rel="nofollow">
					<div>
						<div class="t5">
							<img alt="含往返火车票+3晚住宿" src="image/p5.jpg">
						</div>
						<div class="">
							<div class="">
								<p class="wangfang">
									<span>长沙-桂林</span>
								</p>
								<p class="">
									<span>4天自由行</span>
								</p>
							</div>
						</div>
					</div>
					<div class="">
						<p class="zhuxing">
							<span>含往返火车票+3晚住宿</span>
						</p>
						<p class="">
							<span>市场价:¥</span> <span class="">2502</span>
						</p>
						<div class="">
							<div class="discount">6.3折</div>
							<div class="">
								<span> <em>¥</em>
								</span> <span> <em>1565</em>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="k6">
				<a class=" " target="_blank" href="" rel="nofollow">
					<div>
						<div class="t6">
							<img alt="含往返飞机票(含税)+7晚住宿" src="image/p6.jpg">
						</div>
						<div class="">
							<div class="">
								<p class="wangfang">
									<span>长沙-越南</span>
								</p>
								<p class="">
									<span>8天跟团游</span>
								</p>
							</div>
						</div>
					</div>
					<div class="">
						<p class="zhuxing">
							<span>含往返飞机票(含税)+7晚住宿</span>
						</p>
						<p class="">
							<span>市场价:¥</span> <span class="market-price">3457</span>
						</p>
						<div class="">
							<br />
							<div class="discount">6.6折</div>
							<div class="special-price">
								<span> <em>¥</em>
								</span> <span> <em>2280</em>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="k7">
				<a class="" target="_blank" href="" rel="nofollow">
					<div>
						<div class="t7">
							<img alt="含往返飞机票(含税)+5晚住宿" src="image/p7.jpg">
						</div>
						<div class="">
							<div class="">
								<p class="wangfang">
									<span>长沙-巴厘岛</span>
								</p>
								<p class="">
									<span>6天跟团游</span>
								</p>
							</div>
						</div>
					</div>
					<div class="">
						<p class="zhuxing">
							<span>含往返飞机票(含税)+5晚住宿</span>
						</p>
						<p class="market-price">
							<span>市场价:¥</span> <span class="market-price">13674</span>
						</p>
						<div class="">
							<div class="discount">3.0折</div>
							<div class="special-price">
								<span> <em>¥</em>
								</span> <span> <em>4049</em>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="k8">
				<a class="" target="_blank" href="" rel="nofollow">
					<div>
						<div class="t8">
							<img alt="含往返飞机票(含税)+5晚住宿" src="image/p8.jpg">
						</div>
						<div class="">
							<div class="">
								<p class="wangfang">
									<span>长沙-日本</span>
								</p>
								<p class="">
									<span>6天跟团游</span>
								</p>
							</div>
						</div>
					</div>
					<div class="">
						<p class="zhuxing">
							<span>含往返飞机票(含税)+5晚住宿</span>
						</p>
						<p class="">
							<span>市场价:¥</span> <span class="">9147</span>
						</p>
						<div class="">
							<div class="discount">6.7折</div>
							<div class="">
								<span> <em>¥</em>
								</span> <span> <em>6147</em>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="k9">
				<a class="" target="_blank" href="" rel="nofollow">
					<div>
						<div class="t9">
							<img alt="含往返飞机票(含税)+5晚住宿" src="image/p8.jpg">
						</div>
						<div class="">
							<div class="">
								<p class="wangfang">
									<span>长沙-日本</span>
								</p>
								<p class="">
									<span>6天跟团游</span>
								</p>
							</div>
						</div>
					</div>
					<div class="">
						<p class="zhuxing">
							<span>含往返飞机票(含税)+5晚住宿</span>
						</p>
						<p class="">
							<span>市场价:¥</span> <span class="">9147</span>
						</p>
						<div class="">
							<br />
							<div class="discount">6.7折</div>
							<div class="">
								<span> <em>¥</em>
								</span> <span> <em>6147</em>
								</span>
							</div>
						</div>
					</div>
				</a>
			</div>

			<div class="gl">
				<!-- 攻略 主体 右边 -->
				<form class="bd">
					<!-- 表单 -->
					<br /> <br />
					<table>
						<tr>
							<a class="you">攻略</a>
							<td><a href="">2019年桂林旅游亲身体验经历分享——实用攻略(图文)</a>&emsp;<a
								href="">凤凰古城</a></td>
						</tr>
						<tr>
							<td><br /> <a href="">大海已结冰！冬季，孤独阿那亚的特别打开方式</a></td>
						</tr>
						<tr>
							<td><br /> <a href="">枫红千枝复万枝——从关西到关东11日古建筑历史游（含吃）</a>&emsp;<a
								href="">毛泽东同志故居</a></td>
						</tr>
					</table>
					<br />
					<table>
						<tr>
							<a class="you">游记</a>
						</tr>
						<tr>
							<td><a href="">穿梭于车水马龙 闲晃在山水之间（武汉恩施9日游）</a></td>
						</tr>
						<tr>
							<td><br /> <a href="">“私人订制”只为让在欧洲的16日留下这浪漫的独家记忆【希腊、意大利、法国】
							</a></td>
						</tr>
						<tr>
							<td><br /> <a href="">横穿美国（一）┃奥尔巴尼狂想曲</a></td>
						</tr>
					</table>
					<br />
				</form>
			</div>
		</div>
	</div>
		<script>
			/* 轮播图 */
			$(function() {
				$('.shutter').shutter({
					shutterW : 1000, // 容器宽度
					shutterH : 358, // 容器高度
					isAutoPlay : true, // 是否自动播放
					playInterval : 3000, // 自动播放时间
					curDisplay : 6, // 当前显示页
					fullPage : false
				// 是否全屏展示
				});
			});
		</script>
</body>
</html>